<a href="https://colab.research.google.com/github/deeksha28012012/Abstraction-and-Polymorphism/blob/main/_Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
exam_data = {"name": ["ANASTASIA", "DIMA", "JAMES", "EMILY", "MICHAEL", "LAURA", "KEVIN","JONAS","KATHERINE","DEAN"],
             "score": [12.5, 6.7, 8.9, 5.2, np.nan, 4.9, 7.8, np.nan, 3.9, 1.78],
             "qualified": ["yes", "no", "yes", "no","yes","no", "yes","no","yes","no"]}
labels = ["a","b","c","d","e","f","g","h","i","j"]
df = pd.DataFrame(exam_data, index=labels)
print("summary of basic information about this DataFrame and its data: ")
print(df.info())
print(df)

summary of basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       10 non-null     object
 1   score      8 non-null      float64
 2   qualified  10 non-null     object
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes
None
        name  score qualified
a  ANASTASIA  12.50       yes
b       DIMA   6.70        no
c      JAMES   8.90       yes
d      EMILY   5.20        no
e    MICHAEL    NaN       yes
f      LAURA   4.90        no
g      KEVIN   7.80       yes
h      JONAS    NaN        no
i  KATHERINE   3.90       yes
j       DEAN   1.78        no